:root{
    --color-black: #101820;
    --color-yellow: #fee715;
    --color-white: #fff;
    --color-bg: #3e658a;
}
body{
    background-color: var(--color-bg);
    margin-top: 75px;
}
header{
    color: black;
    background-color: var(--color-white);
}
.button{
    color: var(--color-black);
}
.navbar-brand{
    font-weight: 500;
    color: var(--color-black);
}
.h1-main{
    font-weight: 500;
}
.lead{
    font-weight: 400;
    font-size: 20px;
}
.fonticon{
    font-size: 30px;
}
.QA{
    cursor: pointer;
}
.card-body{
    font-weight: 400;
    font-size: 17px;
}
.cmain{
    margin-bottom: 20px;
}
.ico{
    font-size: 21px;
}
.footer{
    font-size: 16px;
}
